In [1]:
print(10 * 7)

70

In [2]:
print('Hi')

Hi

In [3]:
a = 2025
print(a)

2025

In [4]:
print(a, a * 2)

2025 4050

In [5]:
b = '여러분'
print(b + '안녕하세요')

여러분안녕하세요

In [6]:
print(b, '안녕하세요')

여러분 안녕하세요

In [7]:
c = '새해'
print(a, '년에도' + c + '복 많이 받으세요')

2025 년에도새해복 많이 받으세요

In [8]:
name = input('이름 입력 >> ')
name = 'sjnoh'

이름 입력 >>  sjnoh

In [9]:
print(name)

sjnoh

In [10]:
birth = input('출생 년도 입력 >> ')
birth = '2003'

출생 년도 입력 >>  2003

In [11]:
2024 - int(birth)

21

In [12]:
print(2024-int(birth), '살 입니다')

21 살 입니다

In [13]:
print(
    3 + 4,
    3- 4,
    3 * 4,
    3 / 4
)

7 -1 12 0.75

In [14]:
print(
    3 > 4,
    3 >= 4,
    3 < 4,
    3 <= 4,
    3 == 4,
    3 != 4
)

False False True True False True

In [15]:
bool('')

False

In [16]:
bool(0)

False

In [17]:
bool(1)

True

In [18]:
import random

In [19]:
dice = random.randint(1, 6)

In [20]:
dice

3

In [21]:
import math

In [22]:
math.sqrt(2)

1.4142135623730951

In [23]:
math.pi

3.141592653589793

In [24]:
math.e

2.718281828459045

In [25]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [26]:
test_score = [80, 70, 90, 100]
for score in test_score:
    print(score)

80
70
90
100

In [27]:
test_name = ['국어', '영어', '수학', '과학']
for name in test_name:
    print(name)

국어
영어
수학
과학

In [28]:
if (10 > 0):
    print('안녕하세요!')

안녕하세요!

In [29]:
password = input('패스워드를 입력하세요: ')
password = '12345'

패스워드를 입력하세요:  12345

In [30]:
if (int(password) == 12345):
    print('로그인 되었습니다.')
elif (int(password) == 11111):
    print('관리자 권한입니다.')
else:
    print('로그인에 실패하였습니다.')

로그인 되었습니다.

In [31]:
arr2 = ['월', '화', '수', '목', '금', '토']
print(arr2)

['월', '화', '수', '목', '금', '토']

In [32]:
print(arr2[0])
print(arr2[1])
print(arr2[2])
print(arr2[3])
print(arr2[4])
print(arr2[5])

월
화
수
목
금
토

In [33]:
print(arr2[-1])
print(arr2[-2])
print(arr2[-3])
print(arr2[-4])
print(arr2[-5])
print(arr2[-6])

토
금
목
수
화
월

In [34]:
print(arr2[0:2])
print(arr2[1:4])
print(arr2[1:])
print(arr2[:3])
print(arr2[:])

['월', '화']
['화', '수', '목']
['화', '수', '목', '금', '토']
['월', '화', '수']
['월', '화', '수', '목', '금', '토']

In [35]:
arr1 = [1, 2, 3, 4, 5]
print(arr1)
print(len(arr1))
arr1.append(6)
print(arr1)
print(len(arr1))

[1, 2, 3, 4, 5]
5
[1, 2, 3, 4, 5, 6]
6

In [36]:
arr2 = ['월', '화', '수', '목', '금', '토']
print(arr2)
print(len(arr2))
arr2.append('일')
print(arr2)
print(len(arr2))

['월', '화', '수', '목', '금', '토']
6
['월', '화', '수', '목', '금', '토', '일']
7

In [44]:
num1 = input('첫 번째 숫자 입력')
num2 = input('두 번째 숫자 입력')
num1 = '74'
num2 = '54'

첫 번째 숫자 입력 74
두 번째 숫자 입력 54

In [45]:
print(num1 if float(num1) > float(num2) else num2)

74

In [53]:
def celsius_to_fahrenheit(celsius):
    """섭씨 온도를 화씨 온도로 변환하는 함수"""
    return (celsius * 9/5) + 32

def kilometers_to_miles(kilometers):
    """킬로미터를 마일로 변환하는 함수"""
    return kilometers * 0.621371

def pounds_to_kilograms(pounds):
    """파운드를 킬로그램으로 변환하는 함수"""
    return pounds * 0.453592

# 사용자로부터 함수 선택
change = input('다음 중 원하는 변환을 선택하세요: ')
change = '2'
print("1. 섭씨를 화씨로 변환")
print("2. 킬로미터를 마일로 변환")
print("3. 파운드를 킬로그램으로 변환")

val = input('변환할 값을 입력하세요: ')
val = '13'

1. 섭씨를 화씨로 변환
2. 킬로미터를 마일로 변환
3. 파운드를 킬로그램으로 변환

다음 중 원하는 변환을 선택하세요:  2
변환할 값을 입력하세요:  13

In [54]:
if(change == '1'):
    print(celsius_to_fahrenheit(float(val)))
elif(change == '2'):
    print(kilometers_to_miles(float(val)))
elif(change == '3'):
    print(pounds_to_kilograms(float(val)))
else:
    print("선택한 값이 잘못되었습니다.")

8.077823